body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card .style-card{
  display: flex;
  justify-content: center;
  padding: 20px; 
  width: 50%;
}

.style-card .row img{
  height: 300px;
}